.canvas-container {
  min-width: 20vh;
  place-self: center;
}

canvas {
  place-self: center;
  margin: 10px;
  border-radius: 20px;
  object-fit: cover;
  height: auto;
  box-shadow: rgba(186, 185, 185, 0.669) 0px 5px 15px;
}
