.controls {
  place-self: center;

  background-color: var(--bgPrimary);
  border-radius: 30px;
  width: 80%;
  height: 90%;
  padding: 10px;
  background-color: rgba(181, 181, 181, 0.532);
}

.controls .text-input {
  box-shadow: var(--boxShadowPrimary);
  border-radius: 12px;
  padding: 10px;
  font-family: inherit;
  text-align: center;
}

.download-meme {
  text-decoration: none;
  padding: 5px 10px;
  background: #5a7cf7;
  border: 1px solid #4267b2;
  border-radius: 3px;
  /* margin: 3px; */

  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
