@media (max-width: 1000px) {
  .main-header {
    position: sticky;
    top: 0;
    min-height: 70px;
    margin-right: 20px;

    border: transparent;
    background-color: black;
    z-index: 1;
  }

  .main-nav {
    position: fixed;

    top: 100px;
    right: 20px;
    left: 20px;
    height: 100dvh;

    text-align: center;

    color: whitesmoke;
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
    z-index: 10;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    background-color: rgba(59, 58, 58, 0.708);
  }

  .main-nav .main-nav-list {
    flex-direction: column;
    text-align: center;
  }

  .main-nav .main-nav-list > li {
    background-color: rgb(81, 80, 80);
    border: 1px solid #c7bcf18e;
    border-radius: 10px;
    text-transform: uppercase;
    width: 75vw;
    height: 75px;
    margin: 2px auto;
  }

  .main-header .main-nav-list a:hover {
    border-radius: 10px;

    position: sticky;
  }

  .main-nav-list li:hover {
    box-shadow: none;
    background: rgb(133, 228, 142);
    background: radial-gradient(
      circle,
      rgba(133, 228, 142, 1) 2%,
      rgba(13, 91, 213, 0.9864320728291317) 97%
    );
  }

  .main-nav .main-nav-list a {
    display: flex;
    justify-content: center;
    padding: 6px 10px;
    margin: 0 10px;
  }

  .toggle-menu-btn {
    color: rgb(14, 112, 24);
    color: radial-gradient(
      circle,
      rgb(17, 180, 33) 10%,
      rgba(9, 69, 165, 0.986) 97%
    );
    box-shadow: 2px 4px 4px #060606d0;
    font-size: 1.2em;
    border: none;
    display: block;
    position: fixed;
    justify-content: center;
    top: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
  }

  #menu-icon::before {
    content: "☰";
  }

  .menu-open #menu-icon::before {
    content: "X";
  }
}

@media (max-width: 600px) {
  .editor-layout {
    display: grid;
    justify-content: center;
    padding: 5px;
    background-color: transparent;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 100px, 1fr));
  }
  .toggle-menu-btn {
    right: 30px;
    top: 35px;
  }
  .main-header {
    top: 25px;
  }
  .controls {
    background-color: transparent;
  }
}
