:root {
  --main-header: #292929;
  --boxShadowPrimary: rgba(0, 0, 0, 0.4) 0px 2px 1px;
  --font-header-hover: #21ac91;
  --font-header: #ffffff;
  --primary-1: #818181;
  --bgPrimary: #62656a;
  --bgPrimary-2: #202123;
  --gradientPrimary: linear-gradient(
    90deg,
    rgb(15, 179, 51) 0%,
    rgb(29, 57, 150) 54%,
    rgb(95, 251, 152) 100%
  );
  --ramove-btn-color: rgb(227, 16, 16);
  --white-smoke: #f5f5f5;
  --download-color: RGBA(143, 68, 187, 1);
  --save-btn-color: RGBA(30, 124, 211, 1);
  --share-btn-color: rgb(74, 180, 74);
  --add-txt-line: rgb(24, 223, 57);
}
